.homepageHeader {
    padding: 2rem 16rem;
    /* margin: 0rem 4rem; */
}

.homepageLink {
    color: var(--ifm-font-color-base);
    text-decoration: none;
    padding: 2px 2px;

    background: linear-gradient(
        to bottom,
        var(--green) 0%,
        var(--green) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
    transition: background-size 0.2s;

    /* box-shadow: inset 0 -3px 0 -1px var(--yellow);
    transition: box-shadow 0.15s ease-in-out;
    padding-bottom: 2px; */
}

.homepageLink:hover {
    background-size: 4px 50px;
    color: #ffffff;
    text-decoration: none;
}

.category {
    font-weight: 400;
    margin: 30px 0;
}

@media (min-width: 426px) and (max-width: 996px) {
    .homepageHeader {
        padding: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .homepageHeader {
        padding: 0.5rem;
    }
}
